* {
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    height: 10vh;
    background-color: rgb(117, 210, 236);
    display: flex;
    justify-content: space-between;
   
}

.menu {
    display: flex;
    gap: 100px;
    align-items: center;
}

.name {
    display: flex;
    align-items: center;
    margin-left: 2vh;
    font-weight: 700;
    
}

nav img {
    margin: 1vh;
    width: 80px;
    height: 80%;
    border-radius: 50%;
}

.kaka{
    font-family: Arial, Helvetica, sans-serif
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info {
    height: 100%;
    display: flex;
    gap: 80px;
    align-items: center;
}


.info .ig {

    height: 45vh;
    position: center;
    
}

.info .facebook{

    height: 45vh;
    align-items: center;
}

.main-social {
    display: flex;
    flex-direction: column;
    height: 150%;
    gap: 20px;
    align-items: center;

}

.main-social p{
    
    font-size: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}

.main-social button{
    position: relative;
    color: rgb(19, 24, 26);
    padding: 10px;
    background-color: rgb(204, 203, 203);
    border-radius: 2vh;
    border: 20px;
    transition: .5s;
}

.main-social button a{
    width: 100%;
    text-decoration: none;
    padding: 10px;
    color: rgb(104, 179, 154)
}

.main-social button:hover{
    color: rgb(222, 31, 31);
    border: 1px solid rgb(0, 75, 128);
    background-color: rgb(150, 183, 240);
    padding: 10px;
    text-decoration: none;
    transition: .5s;
}

.main-social button a:hover{
    transition: .5s;
}


footer {

    width: 100%;
    height: 5vh;
    background-color: rgb(117, 210, 236);
    display: flex;
    align-items: center;

}

.text {
    text-align: center;
}
